.banner {
  background-image: url("../../images/background.png");
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner-container {
  color: white;
  width: 900px;
  margin: auto;

}

.banner-container p {
  opacity: .7;
  font-size: 20px;
}
