.footer {
  background-color: black;
  padding: 60px;
  text-align: center;
}

.footer a {
  font-size: 30px;
  color: #1EDD88
}

.footer p {
  color: bisque;
  opacity: .7;
}

/* This class targets the heart*/
.fas {
  color: red;
}
